/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2016, 15:24:49
    Author     : Margaux
    update      : Patricia
*/

body{
    background-color: #1B6A8C;
    font-family: 'Lato', Arial, sans-serif;
}

/*---- Connection form--*/
.formContainer{
                margin: 150px auto;
	width: 75%;
                   max-width: 85%;
	text-align: center;
}

.formContainer2{
                margin: 150px auto;
	width: 100%;
                   max-width: 100%;
	text-align: center;
}

#formulaireSaisie {
	padding: 0px 25px 25px;
    background: #E2B241;
    
    box-shadow: 
        0px 0px 0px 5px #FFF, 
        0px 4px 30px #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
	color: #333333;
    font-size: 14px;
    font-weight: 300;
	text-align : center;
}

#formulaireSaisie .formHeader {
    margin-bottom: 20px;
}

#formulaireSaisie .formHeader h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
	text-align : center;
}

#formulaireSaisie .formHeader p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
	text-align : center;
}

#formulaireSaisie.sep {
    height: 1px;
    background: #e8e8e8;
    width: 420px;
    margin: 0px -25px;
}

#formulaireSaisie .inputs {
    margin-top: 25px;
	text-align : center;
}

#formulaireSaisie .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

#formulaireSaisie .inputs select {
    color: #8f8f8f;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

#formulaireSaisie .inputs number {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}
input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#formulaireSaisie .inputs input[type=text], input[type=password], input[type=number], textarea, select {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#formulaireSaisie .inputs input[type=color] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
	height: 75px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

header/*bandeau haut*/
{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 125px;
    background-color: #333333;
}

.titreAppli{
    min-height: 50px;
    vertical-align: middle;
    margin: auto;
    color : #E2B241;
    font-size: 50px;
}

.titreAppliUser{
    min-height: 50px;
    vertical-align: middle;
    margin: auto;
    color : #E2B241;
    font-size: 25px;
}

.ui-widget-content{
    border: 0px;
}

.wrapper {
  width: 100%;
  min-height: 100%; }
  .wrapper #sidebar-wrapper {
    position: fixed;
    width: 175px;
    height: 100%;
    margin: 0;
    top: 0;
    left:0;
    background: #211d21;
    z-index: 102;
    overflow: hidden; }
   .wrapper #sidebar-wrapper2 {
    height: 100%;
    top: 0;
    right:0;
    background: transparent;
    z-index: 102;
   overflow:auto;
   border-color:transparent}
  .wrapper #slim-menu-button {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    opacity: .7;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .wrapper #slim-menu-button:hover {
      opacity: 1; }

#sidebar-header {
  height: 100px;
  background: #f6bb4e;
  text-align: center;
  position: relative; }
  #sidebar-header #logo {
    margin: 12px 0; }
  #sidebar-header a i {
    font-size: 20px;
    color: #211d21; }

.sidebar-nav {
  margin-top: 15px; 
    text-align: right;
margin-right: 5px;}
  .sidebar-nav .sidebar-nav-container {
    padding: 0; }
  .sidebar-nav .sidebar-scroll-content {
    display: block;
    height: 100%;
    position: relative; }
    .sidebar-nav .sidebar-scroll-content .sidebar-nav-container {
      padding-bottom: 145px; }
    
#top-bar-wrapper {
  position: fixed;
  height: 100px;
  top: 0;
  left:0;
  margin-left: 175px;
  width: 100%;
  z-index: 101;
  }
  #top-bar-wrapper #top-bar {
    width: calc(100% - 175px);
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    }
    #top-bar-wrapper #top-bar .search-bar {
      display: inline-block; }
      #top-bar-wrapper #top-bar .search-bar .search {
        margin-left: 40px;
        line-height: 100px;
        font-size: 42px;
        color: #d8d8d8; }
      #top-bar-wrapper #top-bar .search-bar input {
        font-size: 24px;
        outline: 0;
        width: 180px;
        border: none;
        font-family: 'PT_Sans', sans-serif; }
    #top-bar-wrapper #top-bar .top-menu {
      height: 100%;
      float: right;
      font-size: 0px; }
      #top-bar-wrapper #top-bar .top-menu .top-bar-icon {
        display: inline-block;
        height: 100%;
        width: 80px;
        text-align: center;
        border-left: 1px solid #d8d8d8;
        font-size: 42px;
        color: #9a9a9a;
        cursor: pointer;
        box-sizing: border-box;
        -moz-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s; }
        #top-bar-wrapper #top-bar .top-menu .top-bar-icon > a {
          line-height: 100px;
          text-decoration: none;
          color: inherit;
          position: relative;
          width: 100%;
          display: block; }
          #top-bar-wrapper #top-bar .top-menu .top-bar-icon > a .top-bar-badge {
            font-size: 12px;
            top: 25px;
            right: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background-color: #DA5E5B;
            position: absolute;
            line-height: normal;
            color: #ffffff;
            padding: 2px 6px; }
        #top-bar-wrapper #top-bar .top-menu .top-bar-icon:hover {
          background-color: #f6bb4e;
          color: #fff; }
        #top-bar-wrapper #top-bar .top-menu .top-bar-icon.active {
          background-color: #ea9624;
          color: #fff; }
          #top-bar-wrapper #top-bar .top-menu .top-bar-icon.active ul {
            display: block; }
    #top-bar-wrapper #top-bar .top-bar-profile {
      display: inline-block;
      height: 100px;
      width: 250px;
      float: right;
      border-left: 1px solid #d8d8d8;
      text-align: right;
      line-height: 20px;
      }
      #top-bar-wrapper #top-bar .top-bar-profile .profile-name {
        margin: 30px 10px 0 0;
        color: #9a9a9a;
        display: inline-block; }
        #top-bar-wrapper #top-bar .top-bar-profile .profile-name span {
          font-weight: bold; }
      #top-bar-wrapper #top-bar .top-bar-profile img {
        float: right;
        padding: 25px 40px 20px 0; }
      #top-bar-wrapper #top-bar .top-bar-profile.active ul {
        top: 100px;
        display: block; }
    #top-bar-wrapper #top-bar .top-submenu {
      margin: 1px 0 0 0;
      padding: 0;
      position: absolute;
      display: none;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 2px 4px rgba(0, 0, 0, 0.3);
      width: 250px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      z-index: 102; }
      #top-bar-wrapper #top-bar .top-submenu li {
        line-height: normal;
        list-style-type: none;
        font-size: 18px;
        color: #9a9a9a;
        text-align: left;
        padding: 0;
        border-bottom: 1px solid #d8d8d8; }
        #top-bar-wrapper #top-bar .top-submenu li.header {
          padding: 9px 0 9px 9px;
          font-weight: bold; }
        #top-bar-wrapper #top-bar .top-submenu li:last-child {
          border: 0; }
        #top-bar-wrapper #top-bar .top-submenu li a {
          display: block;
          width: 100%;
          box-sizing: border-box;
          line-height: normal;
          text-decoration: none;
          padding: 9px;
          color: #9a9a9a; }
          #top-bar-wrapper #top-bar .top-submenu li a:hover {
            background-color: #9a9a9a;
            color: #ffffff;
            border-left: 5px solid #757575;
            padding-left: 4px; }
          #top-bar-wrapper #top-bar .top-submenu li a .top-submenu-icon {
            vertical-align: middle; }
          #top-bar-wrapper #top-bar .top-submenu li a span {
            vertical-align: middle; }
          #top-bar-wrapper #top-bar .top-submenu li a img {
            vertical-align: middle; }
          #top-bar-wrapper #top-bar .top-submenu li a .top-submenu-badge {
            font-size: 14px;
            float: right;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background-color: #DA5E5B;
            line-height: normal;
            color: #ffffff;
            padding: 2px 6px;
            margin-top: 2px; }

    
    .myMenu{
        background: transparent !important;
        border-color: transparent !important;
        color : #E2B241 !important;   
        font-size: 18px;
        font-weight: bold;
                margin: auto;
                padding: auto
    }
    .myMenuItem{

        color : #E2B241 !important;   
        text-shadow: 0 1px 0 #333333;
        font-size: 18px;
        font-weight: bold;
    }
    .myMenuItem:hover{
    background:  #E2B241 !important;   
    color: #333333 !important;
    font-size: 18px;
    font-weight: bold;
     -webkit-box-shadow : none;
}

.ui-state-default{
    -webkit-box-shadow : none;
}

.ui-corner-all{
    -webkit-border-radius: 0px;
    border-radius:0px;
    -webkit-box-shadow : none;
}

.ui-menu .ui-menuitem-text{
    float: none;
    font-weight: bold;
}

.ui-panelmenu .ui-panelmenu-header{
    background: transparent;
    color: #333333;
    font-size: 18px;
    border: none;
    
}

.ui-panelmenu .ui-menuitem-link{
    background: transparent;
    border: none;

}

.ui-panelmenu .ui-panelmenu-content{
    background: transparent;
    border: none;
}


.ui-state-default a, .ui-state-default a:link{
    text-shadow: 0 1px 0 #333333;
     color : #E2B241 !important;   
}

.ui-state-hover a, .ui-state-hover a:hover{
  background:  #E2B241 !important;   
    color: #333333 !important;
}

.imgButton{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.profilMenu{
    margin: 1px 0 0 0;
     padding: 0;
     position: absolute;
     display: none;
     background-color: #ffffff;
     box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
     -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 2px 4px rgba(0, 0, 0, 0.3);
     width: 250px;
     -moz-border-radius: 2px;
     -webkit-border-radius: 2px;
     border-radius: 2px;
     z-index: 102; 
}

  .profilMenuItem:hover{
    background:  #E2B241 ;   
    color: #333333 ;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 102; 
}

.iconMenuBar{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.main-wrapper{
  position: relative;
  margin-top: 110px;
  margin-left: 180px;
  width: 88%;
  overflow: auto;
  border: 1px;
}

.ui-tagcloud li a{
    color: #FFF;
}

.ui-tagcloud li a:hover{
    color:#E2B241;
    background: transparent;
    -webkit-box-shadow : none;
}

.tagCloud{
    background-color: transparent;
}


/*----------------------------------------------------------------------*/
/*---- inscription form--*/
/*----------------------------------------------------------------------*/
.ui-widget-content {
    border: 1px dotted #1B6A8C;
    background: #E2B241;
    color : #4f4f4f;
    font-weight: bold;
    text-shadow: 2px 2px 4px #c4c4c4;
}

.ui-widget-header {
    border: 1px solid #a8a8a8;
    background: #c4c4c4 url(/programmesportifm2/faces/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png?ln=primefaces-aristo) 50% 50% repeat-x;
    background: #c4c4c4 linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
    background: #1b6a8c;
    background: #c4c4c4 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
    color: #FFF;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-datepicker .ui-datepicker-header {
    background: #e3e3e3;
    background: #e3e3e3 linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
    background: #1b6a8c;
    background: #e3e3e3 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
    border-right: 0;
    border-left: none;
    border-top: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    background: 0;
    border: 0;
    color: #1b6a8c;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #e2b241;
    background: #1b6a8c;
    background: #aaa linear-gradient(top,rgba(0,0,0,0.25),rgba(0,0,0,0));
    background: #96762b -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.25)),to(rgba(0,0,0,0)));
    background: #aaa -moz-linear-gradient(top,rgba(0,0,0,0.25),rgba(0,0,0,0));
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #e2b241;
    background: #c4c4c4 linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
    background: rgba(255, 255, 255, 1) -webkit-gradient(linear,left top,left bottom,from(rgba(255, 255, 255, 1)),to(rgba(255,255,255,0)));
    background: #c4c4c4 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
    font-weight: bold;
    color: #4f4f4f;
    text-shadow: 2px 2px 4px #c4c4c4;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----------------------------------------------------------------------*/
/*---- edit form--*/
/*----------------------------------------------------------------------*/
